{% extends "layout.html" %}

{% block title %}
Add Symptom
{% endblock %}

{% block main %}

<form action="/add.html" method="post" id="symptom">
  <div class="mb-3">
    <p>
      <label for="symptom">Symptom</label>
      <input id="enter_symptom" name="symptom" placeholder="Symptom" type="text">
    </p>
    <p>
      <label for="notes">Notes</label>
    </p>
    <p>
      <textarea name="notes" id="notes" placeholder="Notes" cols="30" rows="5"></textarea>
    </p>
    <p>
      <label for="datetime">Date and time</label>
      <input id="datetime" name="datetime" type="datetime-local">
    </p>
    <p>
      <button type="submit">Send</button>
    </p>
  </div>
</form>
<div class="coordinates">
  <span id="x"></span>
  <span id="y"></span>
</div>

<script type="text/javascript">

  // Source: https://www.chestysoft.com/imagefile/javascript/get-coordinates.asp
  var myImg = document.getElementById("image");
  myImg.onmousedown = GetCoordinates;
  // Form apperas after clicking the image
  let form = document.querySelector('#symptom')
  myImg.addEventListener('click', function () {
    form.style.visibility = 'visible'
  });

</script>

{% endblock %}