{% extends "layout.html" %}

{% block title %}
Status
{% endblock %}

{% block main %}
<script>
  // Receive all symptoms from db
  let status = JSON.parse('{{ status|tojson }}');
  // Get hidden marker img from layout and clone it for every entry in db
  let i_marker = document.getElementById("marker")
  for (i in status) {
    let id = status[i].id // Get id from db
    let clone = i_marker.cloneNode(false)
    // Change id of every clone to id from db
    clone.id = id
    // Append clone to div
    document.getElementById("box").appendChild(clone)
    // Adjust merker's position
    if (status[i].visible == 1) {
      clone.style.visibility = "visible"
      clone.className = "markers_visible"
    }
    else if (status[i].visible == 0) {
      clone.style.visibility = "hidden"
      clone.className = "markers_hidden"
      clone.src = "../static/marker_blue.jpg"
    }
    clone.style.left = status[i].x + "px"
    clone.style.top = status[i].y + "px"
  }
  
  // Respond to click on a visible marker
  let markers_visible = document.querySelectorAll('.markers_visible, .markers_hidden')
  for (let j = 0; j < markers_visible.length; j++) {
    markers_visible[j].addEventListener('click', function () {
      document.getElementById("id").value = status[j].id
      document.getElementById("id_del").value = status[j].id
      document.getElementById("id_a").value = status[j].id
      document.getElementById("id_act").value = status[j].id
      document.getElementById("symptom").value = status[j].symptom
      document.getElementById("datetime").value = status[j].date_time.slice(0, 16)
      document.getElementById("notes").value = status[j].notes
      document.getElementById("marker_red").style.visibility = "hidden"
      document.getElementById("button_delete").style.visibility = "visible"
      document.getElementById("button_archive").style.visibility = "visible"
      document.getElementById("button_activate").style.visibility = "visible"
    });
  }

  // Show history
  let h = document.getElementById("history")
  let markers_hidden = document.querySelectorAll('.markers_hidden')
  function show_history() {
    document.getElementById("history").style.display = "none"
    document.getElementById("hide_history").style.display = "inline"
    for (let k = 0; k < markers_hidden.length; k++) {
      markers_hidden[k].style.visibility = "visible"
    }
  }

  // Hide history
  function hide_history() {
    document.getElementById("history").style.display = "inline"
    document.getElementById("hide_history").style.display = "none"
    for (let k = 0; k < markers_hidden.length; k++) {
      markers_hidden[k].style.visibility = "hidden"
    }
  }
</script>
{% endblock %}