h1 {
    padding: 10px;
}

.images {
    position: relative;
}

#datetime_label {
    padding: 10px;
}


header {
    background-color: rgba(244, 242, 220, 0.8);
}

#box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 300px;
    height: 685px;
}

.form-control {
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.no_border {
    border: 0px;
}


.display_none {
    display: none;
}

.visibility_hidden {
    display: none;
}

.coordinates {
    display: none;
}

/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

input[type="text"], input[type="password"], input[type="datetime-local"] {
    margin: 5px;
}